<section class="row h-100 d-flex align-items-center justify-content-center">

    <section class="logoSection col-12 flex-column d-flex align-items-center">
        <div class="col-12 d-flex justify-content-center">
            <img src="../../../../assets/images/food.png" alt="Logo image">
        </div>
        <div class="col-12 d-flex justify-content-center">
            <h2>SIDGDER</h2>
        </div>
    </section>


    <!--TIMER-->
    <section class="verifyUserinInfoSection col-12 d-flex align-items-center justify-content-center">

        

    </section>

    <section class="verifyUserinInfoSection col-12 d-flex align-items-center justify-content-center">


        <!--USER DATA FORM-->
        <form class="row w-100 d-flex flex-column align-items-center">

            <!--PASSWORD-->
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Contraseña</mat-label>
                <input type="password" [formControl]="password" matInput>
                <mat-error *ngIf="password.hasError('required')">El campo es requerido</mat-error>
                <mat-error *ngIf="password.hasError('min')">La contraseña debe tener mínimo 5 caractéres</mat-error>
            </mat-form-field>

            <!--VERIFY PASSWORD-->
            <mat-form-field class="col-12 col-md-6">
                <mat-label>Verifique la contraseña</mat-label>
                <input type="password" [formControl]="verify_password" matInput>
                <mat-error *ngIf="verify_password.hasError('required')">El campo es requerido</mat-error>
                <mat-error *ngIf="verify_password.hasError('min')">La contraseña debe tener mínimo 5
                    caractéres</mat-error>

            </mat-form-field>

            <mat-error *ngIf="verifyPasswords()">Las
                contraseñas no coinciden</mat-error>

            <!--ACTION BUTTONS-->
            <div class="row w-100 mt-4 d-flex justify-content-center">
                <button mat-raised-button class="col-12 col-md-6"
                    [disabled]="password.status == 'INVALID'|| verify_password.status == 'INVALID' || verify_password.value != password.value"
                    (click)="set()" color="primary">Cambiar Contraseña</button>
            </div>

        </form>

    </section>


</section>