<div class="row w-100 p-2">
    <!--TITLE-->
    <div class="row w-100 d-flex justify-content-between p-2">
        <div class="col-12 d-flex justify-content-center align-items-center">
            <h2 style="font-weight: 600;" class="d-flex align-items-center">Punto De Venta</h2>
        </div>
        <div class="col-12 col-md-12 d-flex justify-content-around">
            <b><span>Fecha: {{date}}</span></b>
            <b><span>Usuario: {{agent.name}} {{agent.lastname}}</span></b>
            <b><span>Rol: {{agent.rol == 'Waiter' ? 'Mesero' : null }}</span></b>
        </div>
    </div>

    <!--CAR SECTION-->
    <section class="car_resum col-12 col-md-12 p-1 ">

        <!--SEARCH PRODUCT INPUT AND ADD PRODUCT BUTTON-->
        <div class="row w-100 mt-4 d-flex justify-content-between mt-4">

            <div class="col-12  d-flex justify-content-end ">
                <button mat-fab color="primary" matTooltip="Agregar producto"
                    (click)="openDialogSelectSaource('500','500')">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

        </div>

        <!--CAR'S PRODUCTS-->
        <form [formGroup]="sale" *ngIf="sale.controls.products.value.length > 0" class="mt-4">

            <!--PRODUCST ARRAY FORM-->
            <ng-container formArrayName="products">
                <div class="table-responsive" style="max-height: 250px;">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Cantidad</th>
                                <th>Precio Unitario</th>
                                <th>Subtotal</th>
                                <th>Total</th>
                                <th>Notas</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="sale.controls.products.value.length > 0" class="p-2">
                            <tr *ngFor="let productForm of sale.controls.products.controls;let i = index"
                                [formGroupName]="i" class="">
                                <td>
                                    {{productForm.get('name')?.value}}

                                </td>
                                <td>
                                    <input type="number" formControlName="ammount" matInput class="ammount_input"
                                        (change)="setTotal(i,'products','ammount')">
                                    <mat-error *ngIf="formGroupHasError(i,'products','ammount','min')">La cantidad debe
                                        ser mayor que 0</mat-error>

                                </td>
                                <td>
                                    <input type="text" formControlName="price" matInput class="ammount_input"
                                        (change)="setTotal(i,'products','ammount')">

                                </td>
                                <td>
                                    {{productForm.get('subtotal')?.value | currency}}
                                </td>
                                <td>
                                    {{productForm.get('total')?.value | currency}}
                                </td>
                                <td>
                                    <textarea formControlName="note"></textarea>
                                </td>
                                <td>
                                    <button mat-mini-fab matTooltip="Editar" color="primary"
                                        (click)="enableEditEelement(i)">
                                        <mat-icon>edit</mat-icon>
                                    </button>

                                </td>
                                <td>
                                    <button mat-mini-fab matTooltip="Eliminar" class="bg-danger ml-2"
                                        (click)="deleteProduct(i)">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>



            </ng-container>

        </form>

        <div class="row w-100 d-flex justify-content-center mt-4" *ngIf="sale.controls.products.value.length == 0">
            <h2 style="font-weight: 600;" class="d-flex justify-content-center">No hay platillos seleccionados</h2>
        </div>

        <mat-divider class="mt-4"></mat-divider>

        <!--RESUM SALE SECTION-->
        <section class="sale_resum col-12 col-md-12 mt-4">
            <form [formGroup]="sale">

                <div class="row  d-flex p-1">


                    <!--SALE INFO RESUM-->
                    <div class="col-12  d-flex  align-items-center justify-content-between mt-4">
                        <div class="row w-100">
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center">
                                <p class="sale_info_resum_data"><b>Subtotal:</b> {{sale.controls.subtotal.value |
                                    currency}}
                                </p>
                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center">
                                <p class="sale_info_resum_data"><b>Iva:</b> {{sale.controls.iva.value | currency}} </p>

                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center">
                                <p class="sale_info_resum_data"><b>Total:</b> {{sale.controls.total.value | currency}}
                                </p>

                            </div>
                            <div class="col-12 col-sm-3 col-md-3 col-lg-3 d-flex justify-content-center">
                                <p class="sale_info_resum_data"><b>Propina:</b> {{this.tip_ammount| currency}} </p>

                            </div>
                            <mat-form-field appearance="fill" class="col-12 col-sm-6 col-md-6 col-lg-6 mt-4" >
                                <mat-label>Nota</mat-label>
                                <textarea type="text" matInput formControlName="note"></textarea>
                            </mat-form-field>

                        </div>
                    </div>


                    <section class="col-12 col-sm-12 col-md-12 col-lg-12 d-flex justify-content-center mt-4">

                        <button mat-raised-button id="update_order_button" 
                            (click)="updateOrder()">
                            Actualizar Orden
                            <mat-icon matIconSuffix class="text-success">check</mat-icon>
                        </button>

                    </section>





                </div>
            </form>
        </section>

    </section>



</div>