<h1 mat-dialog-title class="d-flex justify-content-center mt-2 p-2">Nueva Caja</h1>
<div mat-dialog-content>
  <mat-form-field class="col-12">
    <mat-label>Usuario</mat-label>
    <input type="text" name="" id="" readonly [(ngModel)]="user" matInput>
    <mat-icon matIconSuffix matTooltip="Seleccionar usuario" (click)="openDialogSelectUser('500','500')">people</mat-icon>
    <mat-icon matIconSuffix matTooltip="Limpiar" (click)="clean('user')">delete</mat-icon>
  </mat-form-field>
  <form [formGroup]="cash_register">

    <mat-form-field  class="col-12">
      <mat-label>Estatus</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of status_options" [value]="status.value">
          {{status.description}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>


</div>
<div mat-dialog-actions class="row d-flex justify-content-between p-4">
  <div class="col-4 d-flex justify-content-center">
    <button mat-raised-button (click)="close()" class="actionButtons" color="primary">Cancelar</button>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <button mat-raised-button class="actionButtons" color="primary" (click)="update()" [disabled]="cash_register.status == 'INVALID' ">Editar</button>
  </div>

</div>