th{
    text-align: center;
}

td{
    text-align: center;
}


.total{
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 83, 139);
}

.total_balance,
.estatus_amount{
    font-size: 16px;
    font-weight: 500;
}