<h1 mat-dialog-title class="d-flex justify-content-center mt-2 p-2">Nueva Mesa</h1>
<div mat-dialog-content>

    <form [formGroup]="table" class="row">
        <mat-form-field class="col-12">
            <mat-label>Número De Mesa</mat-label>
            <input type="number" matInput formControlName="number_table">
            <mat-error *ngIf="table.controls.number_table.hasError('required') && table.controls.number_table.touched">El campo es requerido</mat-error>
            <mat-error *ngIf="table.controls.number_table.hasError('pattern') && table.controls.number_table.touched">Solo números enteros positivos</mat-error>
            <mat-error *ngIf="table.controls.number_table.hasError('min') && table.controls.number_table.touched">El número de mesa debe ser mayor que 0</mat-error>

        </mat-form-field>
        <mat-form-field class="col-12">
            <mat-label>Estatus</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let status of status_options" [value]="status.value">
                  {{status.description}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="table.controls.status.hasError('required')">El campo es requerido</mat-error>
          </mat-form-field>

    </form> 

</div>
<div mat-dialog-actions class="row d-flex justify-content-between p-4">
  <div class="col-4 d-flex justify-content-center">
    <button mat-raised-button (click)="close()" class="actionButtons" color="primary">Cancelar</button>
  </div>
  <div class="col-4 d-flex justify-content-center">
    <button mat-raised-button class="actionButtons" color="primary" (click)="create()"  [disabled]="table.status == 'INVALID'">Registrar</button>
  </div>

</div>