.sidenav {
  width: 350px;
  padding: 2px!important;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

img{
  width: 100px;
  height: 100px;
}

