

<h1 mat-dialog-title class="d-flex justify-content-center align-items-center mt-2 p-2">Aperturas De Caja</h1>
<div mat-dialog-content>
    <section class="row">
        <!--FILTER-->
        <section class="row d-flex justify-content-around mt-2 p-2">
            <div class="col-12 col-sm-10 col-md-10">
                <div class="row d-flex justify-content-center">
                    <mat-form-field class="col-12 col-sm-10 col-md-10">
                        <mat-label>Desde</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/AAAA</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <button mat-icon-button matTooltip="Limpiar" (click)="clean('end_date')" matIconSuffix>
                            <mat-icon>delete</mat-icon>
                        </button>
                      </mat-form-field>
                      <mat-form-field class="col-12 col-sm-10 col-md-10">
                        <mat-label>Hasta</mat-label>
                        <input matInput [matDatepicker]="picker1">
                        <mat-hint>MM/DD/AAAA</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <button mat-icon-button matTooltip="Limpiar" (click)="clean('start_date')" matIconSuffix>
                            <mat-icon>delete</mat-icon>
                        </button>
                      </mat-form-field>  
                      <mat-form-field class="col-12 col-sm-10 col-md-10">
                        <mat-label>Usuario</mat-label>
                        <input type="text" name="" id="" readonly [(ngModel)]="user" matInput>
                        <button mat-icon-button matIconSuffix matTooltip="Seleccionar usuario" (click)="openDialogSelectUser('500','500')">
                            <mat-icon>people</mat-icon>
                        </button>
                        <button mat-icon-button matIconSuffix matTooltip="Limpiar" (click)="clean('user')">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-12 col-sm-2 col-md-2 d-flex justify-content-center align-items-center">
                <button mat-fab matTooltip="Buscar" color="primary">
                    <mat-icon>search</mat-icon>
                </button>
            </div>
        </section>
    
        <!--PAGINATOR-->
        <section class="col-12 mt-2 p-2">
            <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                aria-label="Select page" (page)="handlePageEvent($event)">
            </mat-paginator>
    
        </section>

            <!--FILTER USER PIPE-->
        <section class="row w-100 mt-2 p-2">
        <div class="col-12">
            <mat-form-field class="w-100">
                <mat-label>Nombre</mat-label>
                <input type="text" matInput [(ngModel)]="user_name">
            </mat-form-field>
        </div>
        </section>


        <mat-selection-list #openingCashRegisters [multiple]="false" (selectionChange)="saveSelection(openingCashRegisters)" *ngIf="opening_cash_regisers.length > 0; else noOpeningCashRegisters">
            <mat-list-option *ngFor="let opening of opening_cash_regisers | cashRegisterUserPipe:user_name" [value]="opening">
                <mat-list-item >
                    <mat-icon matListItemIcon>point_of_sale</mat-icon>
                    <div matListItemLine>Id De Apertura: {{opening.id}}</div>
                    <div matListItemTitle>Usuario: {{opening.name}} {{opening.last_name}} {{opening.second_last_name}}</div>
                    <div matListItemLine>Fecha De Apertura: {{opening.opening_date}}</div>
                    <div matListItemLine>Efectivo en apertura: {{opening.cash | currency}}</div>

                  </mat-list-item>
            </mat-list-option>
        </mat-selection-list>

        <ng-template #noOpeningCashRegisters>
            <div class="row">
                <h2 class="d-flex justify-content-center align-items-center">No existen cajas pendientes de cierre</h2>
            </div>
        </ng-template>
    
    </section>

</div>
<div mat-dialog-actions class="row d-flex justify-content-center p-4">
    <div class="col-6 d-flex justify-content-center">
        <button mat-raised-button (click)="close()" class="w-100" color="primary">Cerrar</button>
    </div>


</div>