
<div class="row">

    <!--TITLE-->
    <div class="row mt-2 p-2 d-flex justify-content-center">
        <div class="col-12 col-sm-6 col-md-6">
            <h2 class="d-flex justify-content-center">Pagos De Servicios</h2>
        </div>
    </div>

    <section class="row mt-2 p-2 justify-content-center align-items-center">
        <button mat-raised-button class="col-12 col-md-5 col-sm-5" matTooltip="Pagar servicio" color="primary" (click)="openDialogPayService('500','500')">
            Nuevo Pago
        </button>
    </section>

    <!--FILTERS-->
    <section class="row mt-2 p-2">
        <section class="col-12 col-sm-10 col-md-10">
            <section class="row">
                    <mat-form-field class="col-12 col-sm-6 col-md-6">
                        <mat-label>Desde</mat-label>
                        <input matInput [matDatepicker]="picker" [(ngModel)]="filters.start_date">
                        <mat-hint>MM/DD/AAAA</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <button mat-icon-button matIconSuffix matTooltip="Limpiar" (click)="clean('start_date')">
                            <mat-icon>delete</mat-icon>
                        </button>
                      </mat-form-field>
                    <mat-form-field class="col-12 col-sm-6 col-md-6">
                        <mat-label>Hasta</mat-label>
                        <input matInput [matDatepicker]="picker1" [(ngModel)]="filters.end_date">
                        <mat-hint>MM/DD/AAAA</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                        <button mat-icon-button matIconSuffix matTooltip="Limpiar" (click)="clean('end_date')">
                            <mat-icon>delete</mat-icon>
                        </button>
                      </mat-form-field>
                      <mat-form-field class="col-12 col-sm-6 col-md-6">
                        <mat-label>Servicio</mat-label>
                        <input type="text" readonly matInput [(ngModel)]="service">
                        <button mat-icon-button matTooltip="Seleccionar servicio" matIconSuffix (click)="openDialogSelectService('500','500')">
                          <mat-icon>
                            settings
                          </mat-icon>
                        </button>
                        <button mat-icon-button matTooltip="Limpiar" matIconSuffix (click)="clean('service')">
                          <mat-icon>
                            delete
                          </mat-icon>
                        </button>
                      </mat-form-field>

            </section>
        </section>
        <section class="col-12 col-sm-2 col-md-2 d-flex justify-content-center align-items-center">
            <button mat-fab matTooltip="Buscar" color="primary" (click)="search()">
                <mat-icon>search</mat-icon>
            </button>
        </section>
    </section>

    <!--PIPE SEARCH BUSSINES SERVICE-->
    <div class="row">
            <mat-form-field class="col-12 col-sm-6 col-md-6">
                <mat-label>Servicio</mat-label>
                <input type="text" [(ngModel)]="service_name" matInput>
            </mat-form-field>
    </div>

       <!--PAGINATOR-->
       <div class="row mt-2 p-2">
        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)" [length]="length"
            [pageSize]="pageSize" [disabled]="false" [showFirstLastButtons]="showFirstLastButtons"
            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
            [pageIndex]="pageIndex"
             aria-label="Select page">
        </mat-paginator>
    </div>

    <!--BUSSINE SERVICES DATA TABLE-->
    <section class="row mt-2 p-2" *ngIf="services_payments.length > 0; else templateIfNotServices">
        <section class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Servicio</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                        <th>Usuario</th>  
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payment of services_payments | bussinesServicesPipe:service_name; index as i">
                        <td>{{payment.id}}</td>
                        <td>{{payment.service_name}}</td>
                        <td>{{payment.amount | currency}}</td>
                        <td>{{payment.date}}</td>
                        <td>{{payment.user_name}} {{payment.last_name}} {{payment.second_last_name}}</td>
                        <td>
                            <button mat-fab matTooltip="Eliminar" color="primary" (click)="deleteService(payment.id!)">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>

            </table>
        </section>
    </section>

    <ng-template #templateIfNotServices>
        <div class="col-12 d-flex justify-content-center mt-2 p-2">
            <h2>Sin resultados</h2>
        </div>
    </ng-template>
</div>